APP_NAME=AgriPulse
APP_ENV=local
APP_KEY=base64:7MMkCd6jZLrP88d0W2QBwI5wk8dr/mvrakJIIkZjpJ4=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gro
DB_USERNAME=postgres
DB_PASSWORD=postgres

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null



# Module Missions
MISSION_EXPAND_AFTER_HOURS=48
MISSION_DEFAULT_RADIUS_KM=25
MISSION_NOTIF_CHUNK=100
MISSION_ATTACHMENT_DISK=public
MISSION_MAX_ATTACHMENT_MB=5
MISSION_NOTIF_QUEUE=notifications
MISSION_LOW_QUEUE=low

# Queue (Redis recommandé en prod)
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=groapp000@gmail.com
MAIL_PASSWORD="hjon cyrn xpga rurd"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=groapp000@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

CORS_ALLOWED_ORIGINS=http://localhost:3000
CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization,X-Requested-With,X-CSRF-TOKEN

# DeepSeek API
# DEEPSEEK_API_KEY=sk-74f51640e76c4a559838d1474931c13a
AI_API_KEY=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
# AI_BASE_URL=https://api.AI.com/v1
AI_BASE_URL=https://api.groq.com/openai/v1
AI_DEFAULT_MODEL=llama-3.3-70b-versatile
AI_MAX_TOKENS=2048
AI_TEMPERATURE=0.7

# Cache


# Rate limiting IA
AI_RATE_LIMIT_PER_MINUTE=20
AI_RATE_LIMIT_PER_DAY=500


#Google OAuth2.0

GOOGLE_CLIENT_ID="321484165315-qp4ppk65i3pulbs8kpoodf7fe55qt91t.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="http://localhost:8000/auth/google/callback"